.questionBox {
	width: 800px;
	margin:0 auto;
	background-color: gray;
    border-radius: 25px;
}

.borderIfActive {
	border: 5px solid;
}

/* Smaller Than 1024 */
@media screen and (max-width: 1024px) { 	
	.questionBox {
		width: 100%;
	}  	
}

/* Apple iPad */
@media screen and (max-width: 768px) { 	
	.questionBox {
		width: 100%;
	}  	
}

/* Apple iPhone 6 Plus */
@media screen and (max-width: 414px) { 	
	.questionBox {
		width: 100%;
	}  	
}


