<!DOCTYPE html>
<html ng-app="quiz">
    
    <head>
        <link rel="stylesheet" type="text/css" href="bootstrap-3.3.5-dist/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/custom.css" />
        <!--<script type="text/javascript" src="scripts/angular.min.js"></script>-->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
    </head>
	
	<h1 class="text-center">Michael Lai.</h1>
	
	<button ng-click="count = count - 1">Previous Question</button>
    <div>Current Question: {{count}}</div>
	
    <button ng-click="count = count + 1">Skip Question</button>
    <div>Current Question: {{count}}</div>
    
    <body class="list-group" ng-controller="HostController as host">
	
		<!-- Start Repeating For Every Question -->
        <div ng-show="count == question.number" class="container-fluid questionBox" ng-repeat="question in host.questions" ng-init="hint=false">
			
			<!-- Start Content for Every Question -->
            <div class="questionContent" ng-show="count == question.number">
								
                <h3>Question {{question.number}}</h3>
                <ul>{{question.question}}</ul>
				<ul>{{question.status}}</ul>
				
				<div ng-app="quiz" ng-controller="HostController">

					<input ng-model="guess" type="text" placeholder="Input answer here"/>
					<input ng-hide="true" ng-model="hidden" type="text" />
					<div class="">       
						<button class="btn btn-warning" ng-if="hidden == question.answer">Correct!</button><button class="btn btn-warning" ng-click="ToLower()" ng-if="hidden != question.answer">Check Answer</button> <button class="btn btn-warning" ng-click="hint=true">Show Hint</button> <ul ng-if="hint == true">{{question.hint}}</ul>
					</div>
					
				</div>
				
            </div>
			
        </div>
		
    </body>

</html>

<script>

  var app = angular.module('quiz', ['ngAnimate']);
  
  	app.controller('HostController', function($scope,$filter) {
	    this.questions = gems;
		$scope.count = 0;
		$scope.ToLower=function(){
			$scope.hidden=$filter('lowercase')($scope.guess);
		};
	});
  
  app.controller('myCtrl', function($scope,$filter) {
        $scope.ToLower=function(){
			$scope.hidden=$filter('lowercase')($scope.guess);
		};
	});

  app.controller('CountController', function($scope){
    
  });

  var gems = [
    {
      number: '1',
      question: "Some gems have hidden qualities beyond their luster, beyond their shine... Azurite is one of those gems.",
      answer: 'medusa',
      hint: 'A Mythical Creature',
      rarity: 7,
      color: '#CCC',
      faces: 14,
      images: [
        "images/gem-02.gif",
        "images/gem-05.gif",
        "images/gem-09.gif"
      ],
      reviews: [{
        stars: 5,
        body: "I love this gem!",
        author: "joe@example.org",
        createdOn: 1397490980837
      }, {
        stars: 1,
        body: "This gem sucks.",
        author: "tim@example.org",
        createdOn: 1397490980837
      }]
    },
    {
      number: '2',
      question: "Origin of the Bloodstone is unknown, hence its low value. It has a very high shine and 12 sides, however.",
      answer: 'zeus',
      hint: 'A Mythical Creature',
      rarity: 6,
      color: '#EEE',
      faces: 12,
      images: [
        "images/gem-01.gif",
        "images/gem-03.gif",
        "images/gem-04.gif",
      ],
      reviews: [{
        stars: 3,
        body: "I think this gem was just OK, could honestly use more shine, IMO.",
        author: "JimmyDean@example.org",
        createdOn: 1397490980837
      }, {
        stars: 4,
        body: "Any gem with 12 faces is for me!",
        author: "gemsRock@example.org",
        createdOn: 1397490980837
      }]
    },
    {
      number: '3',
      question: "Zircon is our most coveted and sought after gem. You will pay much to be the proud owner of this gorgeous and high shine gem.",
      answer: 'loki',
      shint: 'A Mythical Creature',
      rarity: 2,
      color: '#000',
      faces: 6,
      images: [
        "images/gem-06.gif",
        "images/gem-07.gif",
        "images/gem-09.gif"
      ],
      reviews: [{
        stars: 1,
        body: "This gem is WAY too expensive for its rarity value.",
        author: "turtleguyy@example.org",
        createdOn: 1397490980837
      }, {
        stars: 1,
        body: "BBW: High Shine != High Quality.",
        author: "LouisW407@example.org",
        createdOn: 1397490980837
      }, {
        stars: 1,
        body: "Don't waste your rubles!",
        author: "nat@example.org",
        createdOn: 1397490980837
      }]
    }
  ];

</script>
